<div class="body-height">
<div class="container">
   <div class="row">
<h1>登録情報編集</h1>
<table class="table-borderless">
<!-- 登録情報編集フォーム-->
<%= form_for(@buyer, url:buyer_buyers_path) do |f| %>
	<!-- 名前　-->
	<div class="form-group">
		<tr><th><p>名前</p></th>
	    <th><label>(姓)</label>
	    <%= f.text_field :last_name_kanji, class: "form-control" %></th>
	    <th><label>(名)</label>
	    <%= f.text_field :first_name_kanji, class: "form-control" %></th></tr>
	</div>
	<!-- フリガナ　-->
	<div class="form-group">
		<tr><th><p>フリガナ</p></th>
	    <th><label>(セイ)</label>
	    <%= f.text_field :last_name_kana, class: "form-control" %></th>
	    <th><label>(メイ)</label>
	    <%= f.text_field :first_name_kana, class: "form-control" %></th></tr>
	</div>
	<!-- メールアドレス　-->
	<div class="form-group">
	     <tr><th><p>メールアドレス</p></th>
	     <th><%= f.text_field :email, class: "form-control" %></th></tr>
	</div>
	<!-- 郵便番号（ハイフンなし）-->
	<div class="form-group">
		<tr><th><p>郵便番号（ハイフンなし）</p></th>
	    <th><%= f.text_field :postcode, class: "form-control" %></th></tr>
	</div>
	<!-- 住所　-->
	<div class="form-group">
	    <tr><th><p>住所</p></th>
	    <th><%= f.text_field :address, class: "form-control" %></th></tr>
	</div>
	<!-- 電話番号（ハイフンなし）-->
	<div class="form-group">
	    <tr><th><p>電話番号（ハイフンなし）</p></th>
	    <th><%= f.text_field :phone_number, class: "form-control" %></th></tr>
	</div>

<!-- 編集内容保存ボタン　-->
<tr><th><%= f.submit '編集内容を保存する', class: 'btn btn-primary btn-lg btn-block'%></th>
<% end %>

<!-- 退会ボタン　-->
<th><%= link_to '退会する', buyer_buyers_path, class: "btn btn-danger mt-auto" %></th></tr>
</table>
</div>
</div>
</div>