<div class="body-height">
 <div class="container">
   <div class="row">
	<h1>マイページ</h1>
	<h4><p><strong>登録情報</strong>
	<%= link_to '編集する', edit_seller_sellers_path, class: "mypage btn btn-primary" %>
	<!-- 下記、link先は実装時に確認すること -->
	<%= link_to 'パスワードを変更する', edit_seller_sellers_path, class: "mypage btn btn-primary" %></p></h4>
	<table class="table">
		<tr>
			<td>氏名</td>
			<td><%= current_seller.full_name %></td>
		</tr>
		<tr>
			<td>カナ</td>
			<td><%= current_seller.full_name_kana %></td>
		</tr>
		<tr>
			<td>郵便番号</td>
			<td><%= current_seller.postcode %></td>
		</tr>
		<tr>
			<td>住所</td>
			<td><%= current_seller.address %></td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td><%= current_seller.phone_number %></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><%= current_seller.email %></td>
		</tr>
	</table>
	<h4><p><strong>オファーを見る</strong><br>
		<%= link_to '購入オファーの一覧を見る', seller_purchase_offers_path(@houses),　class: "mypage btn btn-primary" %><br>
		<%= link_to '見学オファーの一覧を見る', seller_visit_offers_path(@houses),　class: "mypage btn btn-primary" %>
	</p></h4>
	<h4><p><strong>メッセージを見る</strong>
</div>
</div>
</div>

<%= link_to "+掲載物件を追加する", new_seller_house_path, class: "btn btn-primary btn-circle pull-right" %>