<div class="body-height">
  <div class="container">
    <h1>掲載物件を追加する</h1>
    <%= form_for @photo, :url => {controller:  :photos, action: :create} do |f| %>
    <%= f.attachment_field :image %>
    <%= f.submit '写真を掲載する', class: "btn btn-primary" %>
    <% end %>
    <%= form_for @house, :url => {controller:  :houses, action: :create} do |f| %>
        <h3>建物名<%= f.text_field :name %></h3>
        <h3>郵便番号<%= f.text_field :zip_code %></h3>
        <h3>住所<%= f.text_field :address %></h3>
        <h3>土地面積<%= f.number_field :land_area %>㎡</h3>
        <h3>建物面積<%= f.number_field :building_area %>㎡</h3>
        <h3>築<%= f.number_field :old %>年</h3>
        <!--渡す配列名を変えること-->
        <h3><%= f.label :category, '建物種別' %>
    <%= f.select :category, {'戸建て': 0, 'マンション': 1}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></h3>
        <h3>販売価格<%= f.number_field :price %>円</h3>
        <td><%= f.select :sales_status, {'販売中': 0, '売り止め': 1, '成約済み': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></td>
        <%= f.submit '新規登録', class: "btn btn-primary" %>
      <% end %>

  </div>

</div>
