<div class="body-height">
	<div class="container">
		<h1>掲載物件一覧</h1>
　　　　　
        <% @houses.each do |h| %>
		
		<table class="">
				
				<tr>
					<%= attachment_image_tag h, :image, format: 'jpg' ,size: "100x100", fallback: "no_image.jpg" %>
				</tr>
				<tr>
					<th>物件名</th>
					<td><%= h.name %></td>
				</tr>
				<tr>
					<th>販売価格</th>
					<td><%= h.price %></td>
				</tr>
				<tr>
					<th>建物種別</th>
					<td><%= h.category %></td>
				</tr>
				<tr>
					<th>間取り</th>
					<td><%= h.floor_plan %></td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td>〒<%= h.zip_code %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= h.address %></td>
				</tr>
				<tr>
					<th>土地面積</th>
					<td><%= h.land_area %>㎡</td>
				</tr>
				<tr>
					<th>建物面積</th>
					<td><%= h.building_area %>㎡</td>
				</tr>
				<tr>
					<th>築年数</th>
					<td><%= h.old %>年</td>
				</tr>
				<tr>
					<<%= link_to "詳細を見る", buyer_house_path(h),  class: "btn btn-primary pull-right" %>
				</tr>
			</table>
		<% end %>
			
			

	</div>
</div>
