<div class="container">
	<div class="row">
 <% if buyer_signed_in? %>
  <span class="u h7 text-white strong">
    ようこそ、<%= current_buyer.last_name_kanji %>
    <%= current_buyer.first_name_kanji %>さん！
  </span>
    <ul class="nav navbar-nav navbar-right">
      <li>
	    <%= link_to "マイページ", buyer_buyers_path, class: "nav-link btn btn-primary" %>
	  </li>
	  <li>
	    <%= link_to '物件一覧', buyer_houses_path, class: "nav-link btn btn-primary" %>
	  </li>
	  <!--注目リストを作成予定
	  <li>
	    <%= link_to 'カート', cart_items_path, class: "nav-link btn btn-primary" %>
	  </li>
	  -->
	  <li>
	    <%= link_to 'ログアウト', destroy_buyer_session_path, method: :delete, class: "nav-link btn btn-primary" %>
	  </li>
    </ul>
 <% end %>
