<nav class="navbar navbar-default">
	<div class="container-fluid">
		  <div class="collapse navbar-collapse">
		    <ul class="nav navbar-nav">
		    	<li>
			    	<%= link_to 'HOME', buyer_top_path %>
				</li>
		    	<li>
			    	<%= link_to '物件一覧', buyer_houses_path %>
			  	</li>
		      	<li>
			    	<%= link_to "マイページ", buyer_buyers_path %>
			  	</li>
			  	<li>
			    	<%= link_to 'TOPページへ戻る', root_path %>
		    	</li>
				<!--注目リストを作成予定-->
				<li>
				    <%= link_to 'ログアウト', destroy_buyer_session_path, method: :delete %>
			    </li>
		    </ul>
		</div>
	</div>
</nav>