<!DOCTYPE html>
<html>
  <head>
    <title>DreamHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!--headerのデザイン分岐-->
     <header class="header">
          <% if seller_signed_in? %>
              <%= render 'layouts/seller_header' %>
          <% else %>
              <%= render 'layouts/buyer_header' %>
          <% end %>
      </header>
    <%= yield %>
  </body>
</html>
